
          <section class="question">
            <h3>Question: {{question.title}}</h3>
            <section class="small-col">
              <a href="" class="up-arrow"><img src="img/up-arrow.png"></a>
              <span class="number">{{votes}}</span>
              <a href="" class="down-arrow"><img src="img/down-arrow.png"></a>
            </section>
            <section class="big-col">
              <p>{{question.body}}</p>
            <span class="created-date">asked on {{question.created_at | date}}</span>
            <span class="author">by {{question.username}}</span>
            </section>

          </section> <!--end section.questions -->
          <h3 class="answer-number">{{answers.length}} answers</h3>
          <section class="answers" ng-repeat="answer in answers | orderBy: '-created_at'">
            <div class="answer">
              <section class="small-col">
                <a href="" class="up-arrow"><img src="img/up-arrow.png"></a>
                <span class="number">{{answer.vote}}  votes</span>
                <a href="" class="down-arrow"><img src="img/down-arrow.png"></a>
              </section>
              <section class="big-col">
                <p>{{answer.body}}</p>
              <span class="created-date">answered on {{answer.created_at | date}}</span>
              <span class="author">by {{answer.username}}</span>
            </section>
          </div>
          </section>  <!--end section.answers -->
          <section class="your-answer">
            <h3>Your Answer</h3>
            <textarea class="ask-area" name="question" rows="8" cols="60"></textarea>
            <div class="ask-button">
              <button class="post" type="button" name="post">Post your Answer</button>
            </div>
          </section> <!--end section.your-answer -->
