section.question {
  h3 {
    border-bottom: solid 1px #e0e0e0;
  }
  a {
    display: block;
    img {
      // background-color: black;
      width: 35px;
    }
  }
} //end section.question
section.answers {
  @extend .clearfix;
    border-bottom: solid 1px #e0e0e0;
    a {
      display: block;
      img {
        // background-color: black;
        width: 35px;
      }
    }
  div.answer {
    @extend .clearfix;
    border-top: solid 1px #e0e0e0;
  }
}//end section.answers
