
header {
  @extend .clearfix;

  a {
  background-color: #9ea3a9;
  color: white;
  padding: 4px 10px 5px;
    &:hover {
    background-color: #f69c55;
    border-color: #f69c55;
    }
  }
} //header


.left-col {
  // background-color: lightgray;
  width: 50%;
  float: left;
  img.logo {
    height: 50px;
  }
}//end of left-col

.right-col {
  // background-color: gray;
  width: 50%;
  float: left;
  input.search {
    width: 329px;
  }

}//end of right-col
