body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

header {
  @extend .clearfix;
  padding-bottom: 5%;

  a {
  background-color: #9ea3a9;
  color: white;
  padding: 4px 10px 5px;
    &:hover {
    background-color: #f69c55;
    border-color: #f69c55;
    }
  }
} //header


.left-col {
  width: 50%;
  float: left;
  a.picture-link {
    background-color: white;
    color: black;
  }
  img.logo {
    height: 50px;
    margin-bottom: 20px;
  }
}//end of left-col

.right-col {
  width: 50%;
  float: left;
  fieldset.login {
    text-align: right;
    float: right;
    input {
      display: block;
      margin-bottom: 5%;
    }
    button {
      background-color: #9ea3a9;
      color: white;
      border-color: #9ea3a9;
      &:hover {
      background-color: #f69c55;
      border-color: #f69c55;
      }
    }
  }
}//end of right-col
