section.questions-container {
  border-top: solid 1px #e0e0e0;
  // margin-top: 50px;

}
fieldset.search {
  text-align: right;
  input.search {
    width: 329px;
  }
}

div.questions {
  border-bottom: 1px solid #e0e0e0;
  @extend .clearfix;
}

section.small-col {
  @extend .clearfix;
  width: 15%;
  float: left;
  text-align: center;
  div {
    display: block;
    span.number {
      font-size: 20px;
      display: block;

    }
    span.words {
      font-size: 11px;
      display: block;
    }
  }
  div.number-answers {
    background-color: #75845c;
    color: white;
  }
} //end section.small-col

section.big-col {
  @extend .clearfix;
  width: 85%;
  float:left;
  a {
    color: #0c65a5;
    font-size: 16px;
    &:hover {
      color: #07c;
    }
  }
  p {
    font-size: 13px;
  }
  span.created-date {
    color: #999;
    display: block;
  }
  span.author {
    color: #0c65a5;
  }
} //end section.big-col
